// imports
@use "../abstracts/abstracts" as *;

.companies {
  padding: 5rem 0;

  @include responsive(sm) {
    padding: 2rem;
  }

  &__content {
    @include sectionSpacing;
    @include maxWidthLg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

    @include responsive(sm) {
      justify-content: center;
    }
  }

  &__company {
    margin: 2rem 2rem;
  }

  &__logo {
    width: 15rem;
  }
}
