// imports
@use "../abstracts/abstracts" as *;

.main-footer {
  background-color: #f5f4f4;
  margin-top: 8rem;

  &__content {
    padding: 2rem;
    @include maxWidthLg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    @include responsive(md) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__img {
    width: 5rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include responsive(md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    margin: 0.8rem 2rem;

    @include responsive(md) {
      margin: 0.8rem 0;
    }
  }

  &__link {
    @include textStyles;
    font-size: size(sm);
    color: color(darkGrayishBlue);
    transition: $mainTransition;

    &:hover,
    &:focus {
      color: color(strongCyan);
    }
  }

  &__social {
    font-size: size(lg);
    color: color(darkGrayishBlue);
    transition: $mainTransition;
    margin: 1rem;

    @include responsive(md) {
      margin: 0 1.5rem 0 0;
    }

    &:hover,
    &:focus {
      color: color(strongCyan);
    }
  }
}
